:root {
    --main-purple: #744BAD;
    --main-pink: #FF0198;
    --main-blue: #58C3E2;
    --main-green: #92D050;
    --main-turquoise: #8CE3D0;
    --main-yellow: #FFC903;

    --add-purple: #390D7A;
    --add-lightPurple: #D0D2E0;
    --add-darkGrey: #484848;
    --add-lightkGrey: #DBD7D7;
}

body {
    background-color: rgb(230, 229, 229);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.container {
    width: 1080px;
    margin: 0 auto;
    font-size: 18px;
}

main {
    display: flex;
    justify-content: start;
}

/* --------------- ASIDE --------------- */



aside {
    display: flex;
    flex-direction: column;
    padding: 8px 4px;
}

.aside__button {
    height: 140px;
    width: 120px;
    background-color: var(--add-lightPurple);
    color: black;
    padding: 3px;
    box-shadow: 2px 2px 10px -5px #000000;
    margin: 3px 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aside__button:hover {
    background-color: var(--add-purple);
    color: var(--add-lightkGrey);
}

.aside__button:active {
    box-shadow: 0.5px 0.5px 2px -1px #000000;;
    transform: scale(.98);
}
.aside__button svg {
    height: 80px;
}
.aside__button:hover svg {
    /* fill: antiquewhite; */
    fill: var(--add-lightkGrey);
}

.photo.small {
    height: 75px;
    width: 75px;
    object-fit: cover;
}
.photo_man.small {
    height: 75px;
    width: 75px;
}

.photo_woman.small {
    height: 75px;
    width: 75px;
}

/* --------------- TABLES BOX --------------- */

.table-box {
    width: 100%;
    padding: 8px 4px;
}

.top-block {
    /* height: 330px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* --------------- TOP LEFT --------------- */

.top-block__left {
    background-color: var(--add-lightPurple);
    height: 100%;
    width: 280px;
    margin-right: 10px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 10px -4px #000000;
    display: flex;
    flex-direction: column;
}

.top-block__left .top-block__left-avatar {
    margin: 8px 0 4px;
    position: relative;
}

.top-block__left .top-block__left-avatar .logo {
    position: absolute;
    right: -2%;
    bottom: 7%;
    background-color: var(--main-purple);
    box-shadow: 2px 2px 10px -5px #000000;
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    align-items:center
}

.top-block__left .top-block__left-avatar .logo img {
    height: 31px;
    width: 31px;
}

.photo {
    display: block;
    background-color: var(--main-yellow);
    border-radius: 50%;
    margin: 0 auto;
}

.photo_man {
    display: none;
    background-color: var(--main-yellow);
    border-radius: 50%; 
    padding: 4px;
    margin: 0 auto;
}

.photo_woman {
    display: none;
    background-color: rgb(86, 142, 205);
    border-radius: 50%; 
    padding: 4px;
    margin: 0 auto;
}

.photo.big {
    height: 150px;
    width: 150px;
    object-fit:cover;
}

.photo_man.big {
    height: 150px;
    width: 150px;
}

.photo_woman.big {
    height: 150px;
    width: 150px;
}

.top-block__left-name {
    font-weight: bold;
    padding: 4px 0 0;
}

.top-block__left-position {
    padding: 3px 0 0;
}

.top-block__left-exp {
    padding: 4px 0;
}

.top-block__left-skills {
    padding: 6px;
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.top-block__left-skills .logo {
    background-color: var(--add-lightkGrey);
    width: 55px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    align-items:center
}

.top-block__left-skills span {
    font-size: 10px;
}

.top-block__left-skills .logo img {
    height: 35px;
    width: 35px;
}

.top-block__left-skills .skills-item:nth-child(1) .logo {
    background-color: var(--main-purple);
}

/* --------------- TOP RIGHT --------------- */

.top-block__right {
    /* height: 100%; */
    flex: 70%;
    display: flex;
    flex-direction: column;
    display: none;
}

.top-block__right-top {
    position: relative;
    background-color: var(--add-lightPurple);
    flex: 2;
    border-radius: 15px;
    margin-bottom: 8px;
    display: flex;
    justify-content: start;
    align-items:center;
    box-shadow: 2px 2px 10px -5px #000000;
}
.top-block__right-top-left {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.block-title {
    position: absolute;
    top: 8px;
    right: 8px;
    font-weight: bold;
}

.top-block__right-top__button.button {
    width: 130px;
}

.top-block__right-bottom {
    position: relative;
    background-color: var(--add-lightPurple);
    flex: 4;
    border-radius: 15px;
    box-shadow: 2px 2px 10px -5px #000000;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.top-block__right-awards {
    display: flex;
    justify-content: space-around;
}

.awards {
    text-align: center;
}

.awards .text {
    font-size: 18px;
}

.awards .number {
    font-size: 66px;
    color: var(--main-purple);
    font-weight: bold;
}

.top-block__right-bottom__button.button {
    width: 310px;
    margin: 20px auto;
}

.button {
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: var(--main-blue);
    border: none;
    cursor: pointer;
    height: 35px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px -5px #000000;
    height: 45px;
    font-size: 18px;
    color: black;
    font-weight: 300;
    transition-duration: .1s;
}

.button:hover {
    box-shadow: 2.5px 2.5px 12px -6px #000000;;
    transform: scale(1.01);
}

.button:active {
    box-shadow: 0.5px 0.5px 2px -1px #000000;;
    transform: scale(.98);
}

/* --------------- MY RESULTS --------------- */

.results {
    position: relative;
    height: 140px;
    background-color: var(--add-lightPurple);
    margin-top: 10px;
    box-shadow: 2px 2px 10px -5px #000000;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.results_item {
    text-align: center;
}

.results_number {
    display: block;
    font-size: 60px;
    font-weight: bold;
}
.results_text {
    display: block;
    font-size: 18px;
}

.blocks {
    position: relative;
    margin: 10px 0;
    background-color: rgb(249, 249, 249);
    box-shadow: 2px 2px 10px -5px #000000;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 10px;
}

/* --------------- MY TASKS --------------- */

.my-tasks.blocks {
    /* height: 595px; */
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.my-tasks-button-block {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.my-tasks-button-block .button {
    width: 200px;
}

.my-tasks-table-block table {
    width: 100%;
    border-collapse: collapse;
    overflow-y: scroll;
}

.my-tasks-table-block table th {
    font-weight: 300;
}

thead th:nth-child(1) {
    width: 35%;
}

thead th:nth-child(2) {
    width: 18%;
}

tbody td:nth-child(2) {
    width: 18%;
}
  
thead th:nth-child(3) {
    width: 21%;
}

tbody td:nth-child(3) {
    width: 21%;
}


thead th:nth-child(4) {
    width: 26%;
}

tbody td:nth-child(4) {
    width: 26%;
    font-weight: bold;
}

th, .scroll_table td {
    padding: 10px;
}


tbody th  {
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 55px;
}

tr {
    text-align: center;
    border-bottom: 1px solid rgb(198, 202, 238); 
}

tr:last-child  {
    border-bottom: 1px solid rgb(198, 202, 238); 
}

.scroll_table {
	height: 500px;
	overflow-x: auto;
	border-bottom: 1px solid #eee;
}

/* .scroll_table tr {
    display: none;
}

.scroll_table tr.show {
    display: table-row;
} */

.scroll_table::-webkit-scrollbar {
	width: 6px;
} 
.scroll_table::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
.scroll_table::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgb(156, 181, 207);
}


/* --------------- AVAILABLE COURSES --------------- */

.available-courses {
    /* max-height: 200px; */
    display: flex;
    flex-direction: column;
}

.available-courses-desc-block {
    margin-top: 15px;
    padding: 0 10px 0;
    font-weight: 200;
    overflow-y: scroll;
}

.available-courses-desc-block::-webkit-scrollbar {
    width: 0;
}

.available-courses-button-block {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}

.available-courses-button-block .button {
    width: 320px;
}

/* --------------- NEW COURSES --------------- */

.new-courses {
    /* height: 300px; */
    display: flex;
    flex-direction: column;
}

.new-courses-desc-block {
    margin-top: 15px;
    padding: 0 10px 0;
    font-weight: 200;
    overflow-y: scroll;
}

.new-courses-desc-block::-webkit-scrollbar {
    width: 0;
}

.new-courses-button-block {
    height: 100%;
    padding-top: 5px;
    overflow-x: scroll;
}

.new-courses-button-block::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.new-courses_slider {
    height: 100%;
    display: flex;
    padding: 5px 10px 10px;
    gap: 25px;
}

.new-courses-button-block-item {
    height: 183px;
    width: 100%;
    margin: 15px;
    border-radius: 20px;
    background-color: var(--add-lightPurple);
    box-shadow: 2px 2px 10px -5px #000000;
    display: flex;
}

.button-block-item-image {
    flex: 2;
    padding: 15px 5px;
    background-color: var(--main-blue);
    box-shadow: 2px 2px 10px -5px #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    text-align: center;
    align-items: center
}

.button-block-item-image .title {
    flex: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.button-block-item-image .title::-webkit-scrollbar {
    width: 0;
}

.new-courses_logo {
    flex: 4;
    display: flex;
    align-items:flex-end
}

.button-block-item-image img {
    height: 90px;
    /* width: 90px; */
}

.button-block-item-info {
    flex: 3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.button-block-item-info .des—Å {
    width: 100%;
    /* word-break: break-all; */
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


.button-block-item-info .button {
    width: 200px;
    margin: 0 auto;
}

.button-block-item-info .button {
    width: 200px;
    margin: 0 auto;
}

/* --------------- NEWS --------------- */

.news {
    height: 250px;
}

.slider__item {
    display: block;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
}

/* --------------- SLIDER --------------- */


.itc-slider {
    position: relative;
    height: 100%;
}
  
.itc-slider__wrapper {
    overflow: hidden;
}
  
.itc-slider__items {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
    /* padding: 10px; */
}
  
.itc-slider__transition-none {
    transition: none;
}
  
.itc-slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    user-select: none;
    will-change: transform;
}
   
.itc-slider__btn_hide {
    display: none;
}  

.itc-slider__indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    margin: 0 15%;
    padding-left: 0;
    list-style: none;
}

.itc-slider-2 .itc-slider__indicators {
    bottom: 0;

}

.itc-slider__indicator {
    flex: 0 1 auto;
    box-sizing: content-box;
    width: 30px;
    height: 5px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: var(--add-lightkGrey);
    background-clip: padding-box;
    border-top: 15px solid transparent;
    /* border-bottom: 15px solid transparent; */
    cursor: pointer;
}
  
ol li.itc-slider__indicator::before {
    display: none;
}

.itc-slider__indicator_active {
    background-color: var(--add-darkGrey);
}
  
.itc-slider-1 .itc-slider__item {
    flex: 0 0 50%;
    max-width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: rgba(255, 255, 255, 0.8); */
    /* font-size: 7rem; */
}

.itc-slider-2 .itc-slider__item {
    flex: 0 0 50%;
    height: 200px;
    max-width: 33.33%;
    padding: 10px 20px;
}
